<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link href="/css/app.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>Tilemap Generator for JS Mini Games</title>
</head>
<body>
    <div id="app" 
         tabindex="0"
         @keydown.ctrl.prevent="handleKeys"
    >

        <nav>
            <h1>{{ title }}</h1>
        </nav>
        
        <div class="container">    
            <div id="options">
                <h3>Map dimensions</h3>
                <input id="width" v-model="width" type="number" placeholder="width"> x
                <input id="height" v-model="height" type="number" placeholder="height">
                <button class="btn" @click.prevent="regenerate">Generate</button>
            </div>
    
            <div class="main">
                <aside id="sidebar-left">
                    <h3>Instructions</h3>
                    <p class="">Select the Tile that will be used to paint the map.</p>
                    <p>You can change the color of each tile by clicking on the corresponding color.</p>
                    <p>Press Shift to draw lines or boxes from the last square painted.</p>
                    <p class="">Press Ctrl + G to toggle the grid lines.</p>
                </aside>

                <!-- main section where the map will be rendered -->
                <main id="map" :style="{ width: totalWidth +'px', height: totalHeight +'px' }">
                    <div class="square"
                        :class="{'square-boxed' : showGrid }"
                        :style="{ 'background-color': tiles[square].color }" 
                        @click="paintSquare(index, $event)"
                        v-for="(square, index) in squares"
                    >
                    </div>
                </main>
        
                <!-- toolbox where we can add tiles -->
                <aside id="toolbox">
                    <h3>Tiles</h3>
                    <div class="tile tile-0"  
                        :class="{ 'tile-selected': tile.id == selectedTile }"
                        @click="selectTile(tile.id)" 
                        v-for="tile in tiles"
                    >
                        <label for="">Ctrl + {{ tile.id }}</label>
                        <input type="color" v-model="tile.color">
                    </div>
                </aside>
            </div>
        </div>
        <footer>
            <p><strong>&copy;2021 Mariano Moreyra - v1.0</strong></p>
            <a href="https://twitter.com/MGMoreyra" class="fa fa-twitter social" target="_blank"></a>
            <a href="https://github.com/MarianoMoreyra" class="fa fa-github social" target="_blank"></a>
        </footer>
    </div>
    
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                title: 'Tilemap Generator',
                width: 20,
                height: 20,
                totalWidth: 300,
                totalHeight: 300,
                squares: [],
                lastSquare: 0,
                selectedTile: 0,
                showGrid: true,
                tiles: [
                    {id: 0, color: "#ff0000", selected: true },
                    {id: 1, color: "#00ff00", selected: false },
                    {id: 2, color: "#0000ff", selected: false },
                    {id: 3, color: "#ff00ff", selected: false },
                    {id: 4, color: "#ffff00", selected: false },
                    {id: 5, color: "#00ffff", selected: false },
                    {id: 6, color: "#ffa200", selected: false },
                    {id: 7, color: "#bc0101", selected: false },
                    {id: 8, color: "#000000", selected: false },
                    {id: 9, color: "#ffffff", selected: false },
                ],
            },
            mounted() {
                for(let i=0; i < this.width * this.height; i++) {
                    // have to set the value like this
                    // instead of push because dynamic arrays
                    // are not reactive otherwise
                    Vue.set(this.squares, i, this.selectedTile)
                }
            },
            methods: {
                regenerate: function() {
                    this.squares = []
                    for(let i=0; i < this.width * this.height; i++) {
                        // have to set the value like this
                        // instead of push because dynamic arrays 
                        // are not reactive otherwise
                        Vue.set(this.squares, i, this.selectedTile)
                    }                 
                    this.totalWidth = this.width * 15
                    this.totalHeight = this.height * 15   
                },
                selectTile: function(tile) {
                    this.selectedTile = tile
                },
                paintSquare: function(square, e) {
                    if(e.shiftKey) {
                        const currCol = this.lastSquare % this.width
                        const currRow = Math.floor(this.lastSquare / this.height) 
                        const newCol = square % this.width
                        const newRow = Math.floor(square / this.height)
                        const dirX = (currCol < newCol) ? 1 : -1
                        const dirY = (currRow < newRow) ? this.width : -this.width

                        // draw top and bottom horizontal lines
                        for(let i=0; i <= Math.abs(currCol-newCol) ; i++) {
                            Vue.set(this.squares, this.lastSquare + (dirX * i), this.tiles[this.selectedTile].id)
                            Vue.set(this.squares, this.lastSquare + (Math.abs(currRow-newRow) * dirY) + (dirX * i), this.tiles[this.selectedTile].id)    
                        }

                        // draw left and right vertical lines
                        for(let i=0; i <= Math.abs(currRow-newRow); i++) {
                            Vue.set(this.squares, this.lastSquare + (dirY * i), this.tiles[this.selectedTile].id)
                            Vue.set(this.squares, this.lastSquare + (Math.abs(currCol-newCol) * dirX) + (dirY * i), this.tiles[this.selectedTile].id)
                        }
                    } else { 
                        Vue.set(this.squares, square, this.tiles[this.selectedTile].id)
                    }
                    
                    this.lastSquare = square             
                },
                handleKeys: function(e) {
                    if(e.keyCode === 71) {
                        this.showGrid = !this.showGrid
                    }

                    if(e.ctrlKey && (e.keyCode>=48 && e.keyCode<=57)) {
                        this.selectedTile = e.keyCode - 48
                    }  
                    
                    if(e.ctrlKey && (e.keyCode>=96 && e.keyCode<=105)) {
                        this.selectedTile = e.keyCode - 96
                    }    
                    return false                  
                },
            }
        })
    </script>
</body>
</html>